<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funny.mall.leads.dao.OrderMapper">
    <select id="findByUserId" parameterType="com.funny.mall.leads.entity.OrderEntity" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM t_order where user_id = #{userId}
    </select>
</mapper>